

<!DOCTYPE html>
<html lang="en">
<head>
  <title>FAQs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Enter More FAQs</h2>
  <form action = "{{ url_for('addque') }}" method = "POST">
    <div class="form-group">
      <label for="text">Question:</label>
      <input type="text" class="form-control" placeholder="Enter Question" name="ques">
    </div>
    <div class="form-group">
      <label for="text">Answer:</label>
      <input type="text" class="form-control" placeholder="Enter Answer" name="ans">
    </div>
    <div class="form-group">
      <label for="text">Type:</label>
      <input type="text" class="form-control" placeholder="Enter Type (text, image_url,video_url)" name="typ">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

</body>
</html>